/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-color:lightcoral;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: large;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

#tagline p {
    font-style: normal;
    font-family: Georgia, Times, serif;
    background-color: rgba(255, 0, 0, 0.4);
    border-top: 3px solid #f02632;
    border-bottom: 3px solid #f02632;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

#header {
    position: absolute;
    border-top: 3px solid #f02632;
    width: 100%;
}


#button1 {
    position: absolute;
    top: 120px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 10px;
    transition-duration: 1.2s;
}
#button1:hover {
    background-color: red;
    -webkit-text-fill-color: white;
}
#button2{
    position: absolute;
    top: 145px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 10px;
    transition-duration: 1.2s;

}
#button2:hover{
    background-color: red;
    -webkit-text-fill-color: white;


}

#button3{
    position: absolute;
    top: 170px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 10px;
    transition-duration: 1.2s;
}
#button3:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}

#button4{
    position: absolute;
    top: 195px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 10px;
    transition-duration: 1.2s;
}
#button4:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}

#button5{
    position: absolute;
    top: 220px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 10px;
    transition-duration: 1.2s;
}
#button5:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}

#guessButton{
    position: absolute;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f02632;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;
    left: -250px;
    top: -5px;

}
#guessButton:hover {background-color: #0b0f13
}

#guessButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#resetButton{
    position: absolute;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f02632;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;
    top: -5px;
    right: -160px;

}
#resetButton:hover {background-color: #0b0f13
}

#resetButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}







#bodycontent {
    position: absolute;
    background-color: #f02632;
    color: black;
    left: 500px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
    text-align: inherit;
}

#button6 {
    position: absolute;
    top: 120px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 900px;
    transition-duration: 1.2s;
}
#button6:hover {
    background-color: red;
    -webkit-text-fill-color: white;
}

#button7{
    position: absolute;
    top: 145px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 900px;
    transition-duration: 1.2s;

}
#button7:hover {
    background-color: red;
    -webkit-text-fill-color: white;
}
#button8{
    position: absolute;
    top: 170px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 900px;
    transition-duration: 1.2s;
}
#button8:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}

#button9{
    position: absolute;
    top: 195px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 900px;
    transition-duration: 1.2s;
}
#button9:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}
#button10{
    position: absolute;
    top: 220px;
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #f02632;
    left: 900px;
    transition-duration: 1.2s;
}
#button10:hover{
    background-color: red;
    -webkit-text-fill-color: white;
}



#serverResponse {
    color:red;
    position: absolute;
    top: 210px;
    left: 140px;
    width: 200px;
    background-color: floralwhite;
    color: black;
    padding-left: .8em;

}

#time {
    color:red;
    position: absolute;
    top: 250px;
    left: 140px;
    width: 200px;
    background-color: floralwhite;
    color: black;
    padding-left: .8em;

}











/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}